{% extends 'layout.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% macro render_field(field) %}
<div class="form-field">
  {{ field.label }} 
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class="errors">
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endmacro %}

{% block content %}
<div class="formwrapper">
  <h2 class="title">Booking</h2>
  <form id="contact" method="POST" action="/">
    {{ form.hidden_tag() }}
    {{ render_field(form.name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.date) }}
    {{ render_field(form.body) }}
    {{ form.submit }}
  </form>
</div>
{% endblock %}
