{% extends 'layout.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/success.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="success-wrapper">
  <h1>SUCCESS!</h1>
  <p>Your booking for an OxRSE software surgery is confirmed. Check your inbox for an 
    confirmation email.</p> 
  <p>Any questions please contact the OxRSE group on <a href="mailto:rse@cs.ox.ac.uk">rse@cs.ox.ac.uk</a>.</p>
</div>
{% endblock %}

